@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
    font-size: 1.25rem;
    background: white;
    text-align: center;
    margin: auto;
}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgb(231, 231, 231);
    text-shadow: 2px 2px 4px rgb(138, 138, 138);
}

a {
    color: inherit;
}

h1 a {
    font-size: 4rem;
    text-decoration: none;
    color: black;
}

nav a {
    font-size: 1.4375rem;
    color: white;
    text-decoration: none;
    padding: 1.25rem 1rem 1.25rem 1rem;
    text-shadow: 2px 2px 4px rgb(160, 160, 160);
}

nav a:hover {
    color:rgb(231, 231, 231);
    text-shadow: 2px 2px 6px rgb(255, 255, 255);
}

nav {
    color: white;
    background: black;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    box-shadow: 0 0 .3rem #333;
}

article {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    position: relative;
    display: block;
    margin: 0 auto;
    filter: grayscale(1);
}

footer {
    font-size: 1rem;
    color: black;
    background: rgb(231, 231, 231);
    padding-bottom: 1.5rem;
}