@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    background: white;
    text-align: center;
    margin: auto;
}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgb(231, 231, 231);
}

h1 {
    font-size: 4rem;
}

nav a {
    font-size: 1.4375rem;
    color: white;
    text-decoration: none;
    padding: 1.25rem 1rem 1.25rem 1rem;
}

nav a:hover {
    color:rgb(231, 231, 231);
}

nav {
    color: white;
    background: black;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    box-shadow: 0 0 .3rem #333;
}

article {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    position: relative;
    display: block;
    margin: 0 auto;
    box-shadow: 3px 5px 8px 1px black;
    
}

footer {
    font-size: 1rem;
    color: rgb(175, 175, 175);
    padding-bottom: 1.5rem;
}